<center>
<h1>Flights Schedule</h1>
<%= image_tag("a.jpeg") %>
<table>
  <tr>
    <th colspan="2">From</th> 
    <th>Destination</th>
    <th>Distance</th> 
    <th>Departs</th> 
    <th>Arrives</th>  
    <th>Price</th>  
  </tr>
  <% @flights.each do |flight| %>
  <tr>
    <td><a href="<%= 'aircraft/'+flight.id.to_s %>" target="iframe_a" >Edit</a></td>
    <td><%= flight.from %></td>
    <td><%= flight.destination %></td>
    <td><%= flight.distance %></td> 
    <td><%= flight.departs.strftime('%a,%d,%b,%y %I:%M %p') if flight.departs %></td> 
    <td><%= flight.arrives.strftime('%a,%d,%b,%y %I:%M %p') if flight.arrives %></td>  
    <td><%= flight.price %></td>  
    <td><%= link_to("Update", edit_flight_path(flight))%></td>
    <td><%=  button_to "delete", flight_path(flight.id), method: :delete  %></td>
  </tr>
  <% end %>
</table>
</center>

<iframe src="flights/new" name="iframe_a" width="100%" height="300" style="border:bold;" ></iframe>
<%= console %>