<%= error_messages_for(f.object) %>

<table summary="User form fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Mobile Number</th>
    <td><%= f.text_field(:mobile_number) %></td>
  </tr>
  <tr>
    <th>Date of Birth</th>
    <td><%= f.date_field(:DOB) %></td>
  </tr>
  <tr>
    <th>Salary</th>
    <td><%= f.number_field(:salary) %></td>
  </tr>
  <tr>
    <th>Trainer ID</th>
    <td><%= f.number_field(:salary) %></td>
  </tr>
  <tr>
    <th>image Upload</th>
    <td><%= f.file_field(:image) %></td>
  </tr>
</table>