<h1>Demo#hello</h1>
<p>Find me in app/views/demo/hello.html.erb</p>

<% target = "World"%>
<%= "Hello #{target}"%>

<% 4.times do |a|%>
<p><%= a %> </p>
<p><%= @numb %> </p>
<% end %>

<%= link_to("Index",{:action => 'index'})%>

</br>
<%= link_to("Index_params",{:action => 'index',:id => 1, :name => 'sam'})%>
id = <%= @id%>
id = <%= params['id']%>
name = <%= @name%>

