<%= form_with(model: customr) do |form| %>
  <% if customr.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customr.errors.count, "error") %> prohibited this customr from being saved:</h2>

      <ul>
        <% customr.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :mobile_number, style: "display: block" %>
    <%= form.text_field :mobile_number %>
  </div>

  <div>
    <%= form.label :email_address, style: "display: block" %>
    <%= form.number_field :email_address %>
  </div>

  <div>
    <%= form.label :DOB, style: "display: block" %>
    <%= form.date_field :DOB %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= form_with do |form| %>
<%= form.check_box :pet_dog %>
<%= form.label :pet_dog, "I own a dog" %>
<%= form.check_box :pet_cat %>
<%= form.label :pet_cat, "I own a cat" %>
<br>
<%= form.radio_button :age, "child" %>
<%= form.label :age_child, "I am younger than 21" %>
<%= form.radio_button :age, "adult" %>
<%= form.label :age_adult, "I am over 21" %>
<% end %>
