<p style="color: green"><%= notice %></p>

<%= render @customr %>

<div>
  <%= link_to "Edit this customr", edit_customr_path(@customr) %> |
  <%= link_to "Back to customrs", customrs_path %>

  <%= button_to "Destroy this customr", @customr, method: :delete %>
</div>
