<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <%= link_to "Aircrafts", aircraft_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Flight Schedules', flights_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Employees', employees_index_path, class: "nav-link"%>
        </li>


      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <%  if employee_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Edit profile', edit_employee_registration_path %>
          </li>
          <li>||</li>
          <li class="nav-item">
            <%= button_to 'Sign Out',  destroy_employee_session_path, method: :delete %> 
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_employee_registration_path %>|
          </li>
          <li>|</li>
          <li class="nav-item">
            <%= link_to "Login", new_employee_session_path %>
          </li>
        <% end %>
      </ul>
     
    </div>
  </div>
</nav>