<div id="<%= dom_id customr %>">
  <p>
    <strong>Name:</strong>
    <%= customr.name %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= customr.mobile_number %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= customr.email_address %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= customr.DOB %>
  </p>

</div>
