<script>
  
  // var confirmation = confirm("This is a confirm box");
  // var user = prompt("What is your name");
  // window.alert(user + " answer is " + confirmation);
  // document.body.style.background = "green";
</script>
<h1>Aircraft#index</h1>
<%= search_form_for @q, url: :aircraft_index do |form| %>
  <%= form.label :name%>
  <%= form.text_field :name_cont %>
  <%= form.submit %>
<%end%>

<table >
  <tr>
    <td>
      Name
    </td>
    <td>
      Cruising Range
    </td>
    <td colspan = "3">
    Operations
    </td>
  </tr>

<% @aircrafts.each do |aircraft|%>
  <tr>
    <td><%= aircraft.name%></td>
    <td><%= aircraft.cruising_range%></td>
    <td><%= link_to("Show",aircraft_path(aircraft))%></td>
    <td><%= link_to("Update", edit_aircraft_path(aircraft))%></td>
    <td><%= link_to("Delete", "delete/"+aircraft.id.to_s)%></td>
  </tr>
<%end%>
</table>
<%= paginate @aircrafts %>

<%= link_to "Add new Aircraft", aircraft_new_path%>
<br/>
<%= link_to "Add new Employee", employees_new_path%>
<br/>
<%= link_to "Flight Schedule",flights_path%>

