<h1>Index</h1>
<%= link_to "Sign Up", users_signup_path %>
<br>
<hr>
<div >
  <h1>Users List</h1>
</div>
<br>
<div>
  <% if !(@users.blank?) %>
    <table>
      <tr>
        <th>Avatar</th>

        <th>Name</th>

        <th>Gender</th>
 
        <th>Address</th>

        <th>Edit</th>
        <th>Delete</th>
      </tr>
     
      <% @users.each do |user| %>
      <tr>
        <td><%= image_tag(user.avatar_url(:thumb).to_s) %></td>

        <td><%= user.name %></td>

        <td><%= user.gender %></td>

        <td><%= user.address %></td>

        <td><%= link_to "edit", edit_user_path(user.id)  %></td>
        <td><%=  button_to "delete", user_path(user.id), method: :delete  %></td>

      </tr>
      <% end %>
    
    </table>
  <% else %>
    <h3>No data in the Database</h3>
  <% end %>
</div>