<h1>Sign Up</h1>

<%= form_with model: @user,id: 'form1', url: users_create_path do |form| %>
  <% if @user.errors.any? %>
  <div class="alert alert-danger">
    <% @user.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <% end %>

  <div >
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
    <p id = "nameMessage"></p>
  </div> 
  <div >
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>
  <div >
    <%= form.label :gender %>
    <%= form.radio_button :gender, "Male" %>
    <%= form.label :gender, "Male" %>
    <%= form.radio_button :gender, "Female" %>
    <%= form.label :gender, "Female"  %>
  </div>
  <div >
    <%= form.label :address %>
    <%= form.text_field(:address) %>
  </div>
  <div>
    <%= form.submit "Sign Up"%>
  </div>
<% end %>

<form onclick="alert('form')">FORM
  <div onclick="alert('div')">DIV
    <p onclick="alert('p')">P</p>
  </div>
</form><ul>
  <li tabindex="1">One</li>
  <li tabindex="0">Zero</li>
  <li tabindex="2">Two</li>
  <li tabindex="-1">Minus one</li>
</ul>



<style> .focused { outline: 1px solid red; } </style>



<script>
  //how to get form from the document
  console.log(document.forms.form1);
  console.log(document.forms[0]);
  console.log(document.getElementById("form1"));
  //How to interact with the specific element inside the froms
  console.log(document.forms[0].elements.user_name);
  console.log(document.forms[0].elements.user_name.value);
  //
  console.log(document.getElementsByName('user[gender]'));
  document.getElementsByName('user[gender]')[0].checked = true ;
  console.log(document.forms[0].elements.user_name);

  form.addEventListener("focusin", () => form1.classList.add('focused'));
  form.addEventListener("focusout", () => form1.classList.remove('focused'));
  function checkEntries(){
    if (!user_name.value){
      let nameMessage = document.getElementById("nameMessage");
      nameMessage.testContent = "Please ENter the name";
    }
  }

  submitData.addEventListener("click", checkEntries )
</script>