<h1>Sign Up</h1>

<%= form_with model: @user, url: sign_up_path do |form| %>
  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "abc@gmail.com" %>
  </div> 
  <div class="mb-3">
    <%= form.label :Password %>
    <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>
  <div class="mb-3">
    <%= form.label :Password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
  </div>
<% end %>