<h1>Index Page</h1>
<%= link_to "Create New User", new_user_path %>

<br>
<h3>Search User using first_name</h3>
<%= form_with url: users_path, method: :get do |form| %>
<%= form.text_field :search, placeholder: "Search"  %>
<%= form.submit "Search" %>
<% end %>

<%= form_with url: users_api_path, method: :get do |form| %>
<%= form.text_field :page, placeholder: "Page no." %>
<%= form.submit "Add via API" %>
<% end %>

<% if params[:search] %>
<%= link_to "Previous Page", root_path(page: @page - 1, search: params[:search])  if @page!= 0 %>
|
<%= link_to "Next Page", root_path(page: @page + 1, search: params[:search])  if @page < (@users_count/10) %>
<% else %>
<%= link_to "Previous Page", root_path(page: @page - 1)  if @page!= 0 %>
|
<%= link_to "Next Page", root_path(page: @page + 1)  if @page < (@users_count/10) %>
<% end %>

<h2>List of users</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="3">Operations</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%=  user.first_name + user.last_name if user.first_name && user.last_name %></td>
    <td><%=  user.email %></td>
    <td><%=  link_to "show", user_path(user.id)  %></td>
    <td><%= link_to "edit", edit_user_path(user.id)  %></td>
    <td><%=  button_to "delete", user_path(user.id), method: :delete  %></td>
  </tr>
<% end %>

</table>